<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.samdul.greeting.mapper.TodoMapper">
    <select id="findAll" resultType="shop.samdul.greeting.entitiy.TodoEntity">
        SELECT id, subject, body, completed
        FROM ENCORE_TODO_TBL
        ORDER BY id DESC
    </select>
    <select id="findById" resultType="shop.samdul.greeting.entitiy.TodoEntity" parameterType="int">
        SELECT id, subject, body, completed
        FROM ENCORE_TODO_TBL
        WHERE id=#{id}
    </select>
    <delete id="deleteById" parameterType="int">
        DELETE FROM ENCORE_TODO_TBL
        WHERE id=#{id}
    </delete>
    <insert id="createEntity">
        INSERT INTO ENCORE_TODO_TBL(SUBJECT, BODY, COMPLETED) VALUES (#{subject}, #{body}, #{completed});
    </insert>
    <update id="updateById">
        UPDATE ENCORE_TODO_TBL
        SET subject = #{subject}, body = #{body}, completed = #{completed}
        WHERE id=#{id}
<!--        INSERT INTO ENCORE_TODO_TBL(SUBJECT, BODY, COMPLETED) VALUES (#{id}, #{id}, #{id});-->
    </update>

</mapper>